

## REDIRECT

## 新着情報
Redirect permanent /news/2014/09/05/1264/ https://www.iwatec.co.jp/news/blog/news-0-90/
Redirect permanent /news/2014/10/06/1261/ https://www.iwatec.co.jp/news/blog/news-0-89/
Redirect permanent /news/2014/10/20/1256/ https://www.iwatec.co.jp/news/blog/1256-2/
Redirect permanent /news/2014/10/28/1253/ https://www.iwatec.co.jp/news/info/news-0-88/
Redirect permanent /news/2014/10/30/1250/ https://www.iwatec.co.jp/news/info/news-0-87/
Redirect permanent /news/2014/11/04/1247/ https://www.iwatec.co.jp/news/info/news-0-86/
Redirect permanent /news/2015/01/05/1242/ https://www.iwatec.co.jp/news/info/news-0-85/
Redirect permanent /news/2015/01/12/1238/ https://www.iwatec.co.jp/news/info/news-0-84/
Redirect permanent /news/2015/01/26/1236/ https://www.iwatec.co.jp/news/info/news-0-83/
Redirect permanent /news/2015/02/03/1233/ https://www.iwatec.co.jp/news/info/news-0-82/
Redirect permanent /news/2015/02/04/1230/ https://www.iwatec.co.jp/news/blog/news-0-81/
Redirect permanent /news/2015/02/18/1227/ https://www.iwatec.co.jp/news/blog/news-0-80/
Redirect permanent /news/2015/03/05/1223/ https://www.iwatec.co.jp/news/info/news-0-79/
Redirect permanent /news/2015/06/09/30/ https://www.iwatec.co.jp/news/info/news-0-78/
Redirect permanent /news/2015/06/18/26/ https://www.iwatec.co.jp/news/info/news-0-84/
Redirect permanent /news/2015/06/24/24/ https://www.iwatec.co.jp/news/blog/news-0-76/
Redirect permanent /news/2015/09/07/22/ https://www.iwatec.co.jp/news/info/news-0-75/
Redirect permanent /news/2015/10/07/20/ https://www.iwatec.co.jp/news/blog/news-0-74/
Redirect permanent /news/2015/10/23/1133/ https://www.iwatec.co.jp/news/blog/news-0-73/
Redirect permanent /news/2015/11/25/534/ https://www.iwatec.co.jp/news/info/news-0-72/
Redirect permanent /news/2015/12/28/1401/ https://www.iwatec.co.jp/news/info/news-0-71/
Redirect permanent /news/2015/12/28/1403/ https://www.iwatec.co.jp/news/info/news-0-70/
Redirect permanent /news/2016/01/08/1405/ https://www.iwatec.co.jp/news/info/news-0-69/
Redirect permanent /news/2016/01/27/1135/ https://www.iwatec.co.jp/news/info/news-0-68/
Redirect permanent /news/2016/02/17/1429/ https://www.iwatec.co.jp/news/blog/news-0-67/
Redirect permanent /news/2016/03/29/1910/ https://www.iwatec.co.jp/news/blog/news-0-66/
Redirect permanent /news/2016/04/19/2191/ https://www.iwatec.co.jp/news/info/news-0-65/
Redirect permanent /news/2016/04/19/2198/ https://www.iwatec.co.jp/news/info/news-0-64/
Redirect permanent /news/2016/05/12/2205/ https://www.iwatec.co.jp/news/info/news-0-63/
Redirect permanent /news/2016/05/16/2229/ https://www.iwatec.co.jp/news/info/news-0-62/
Redirect permanent /news/2016/05/20/2246/ https://www.iwatec.co.jp/news/info/news-0-61/
Redirect permanent /news/2016/07/13/2301/ https://www.iwatec.co.jp/news/blog/news-0-60/
Redirect permanent /news/2016/08/08/2343/ https://www.iwatec.co.jp/news/info/news-0-59/
Redirect permanent /news/2016/08/17/2364/ https://www.iwatec.co.jp/news/blog/news-0-58/
Redirect permanent /news/2016/08/23/2377/ https://www.iwatec.co.jp/news/blog/news-0-57/
Redirect permanent /news/2016/09/12/2406/ https://www.iwatec.co.jp/news/info/news-0-56/
Redirect permanent /news/2016/09/26/2434/ https://www.iwatec.co.jp/news/info/news-0-55/
Redirect permanent /news/2016/10/12/2478/ https://www.iwatec.co.jp/news/info/news-0-54/
Redirect permanent /news/2016/10/12/2487/ https://www.iwatec.co.jp/news/blog/news-0-53/
Redirect permanent /news/2016/10/14/2499/ https://www.iwatec.co.jp/news/blog/news-0-52/
Redirect permanent /news/2016/11/11/2509/ https://www.iwatec.co.jp/news/blog/news-0-51/
Redirect permanent /news/2016/12/07/2514/ https://www.iwatec.co.jp/news/info/news-0-50/
Redirect permanent /news/2016/12/26/2544/ https://www.iwatec.co.jp/news/info/news-0-49/
Redirect permanent /news/2017/01/11/2558/ https://www.iwatec.co.jp/news/blog/news-0-48/
Redirect permanent /news/2017/02/02/2611/ https://www.iwatec.co.jp/news/blog/news-0-47/
Redirect permanent /news/2017/02/16/2636/ https://www.iwatec.co.jp/news/info/news-0-46/
Redirect permanent /news/2017/03/31/2650/ https://www.iwatec.co.jp/news/blog/news-0-45/
Redirect permanent /news/2017/04/12/2686/ https://www.iwatec.co.jp/news/blog/news-0-44/
Redirect permanent /news/2017/04/21/2699/ https://www.iwatec.co.jp/news/blog/news-0-43/
Redirect permanent /news/2017/05/17/2713/ https://www.iwatec.co.jp/news/info/news-0-42/
Redirect permanent /news/2017/05/25/2716/ https://www.iwatec.co.jp/news/blog/news-0-41/
Redirect permanent /news/2017/06/15/2731/ https://www.iwatec.co.jp/news/info/news-0-40/
Redirect permanent /news/2017/07/07/2754/ https://www.iwatec.co.jp/news/blog/news-0-39/
Redirect permanent /news/2017/07/21/2775/ https://www.iwatec.co.jp/news/blog/news-0-38/
Redirect permanent /news/2017/08/02/2784/ https://www.iwatec.co.jp/news/info/news-0-37/
Redirect permanent /news/2017/09/13/2804/ https://www.iwatec.co.jp/news/blog/news-0-36/
Redirect permanent /news/2017/09/29/2814/ https://www.iwatec.co.jp/news/info/news-0-35/
Redirect permanent /news/2017/10/04/2859/ https://www.iwatec.co.jp/news/blog/news-0-34/
Redirect permanent /news/2017/10/23/2879/ https://www.iwatec.co.jp/news/blog/news-0-33/
Redirect permanent /news/2017/11/07/2892/ https://www.iwatec.co.jp/news/blog/news-0-32/
Redirect permanent /news/2017/11/27/2903/ https://www.iwatec.co.jp/news/info/news-0-31/
Redirect permanent /news/2017/12/06/2967/ https://www.iwatec.co.jp/news/blog/news-0-30/
Redirect permanent /news/2017/12/28/2985/ https://www.iwatec.co.jp/news/info/news-0-29/
Redirect permanent /news/2018/01/09/2992/ https://www.iwatec.co.jp/news/blog/news-0-28/
Redirect permanent /news/2018/01/11/3009/ https://www.iwatec.co.jp/news/blog/news-0-27/
Redirect permanent /news/2018/01/23/3024/ https://www.iwatec.co.jp/news/blog/news-0-26/
Redirect permanent /news/2018/02/02/3047/ https://www.iwatec.co.jp/news/blog/news-0-25/
Redirect permanent /news/2018/02/21/3079/ https://www.iwatec.co.jp/news/blog/news-0-24/
Redirect permanent /news/2018/03/09/3089/ https://www.iwatec.co.jp/news/info/news-0-23/
Redirect permanent /news/2018/04/10/3115/ https://www.iwatec.co.jp/news/blog/news-0-22/
Redirect permanent /news/2018/05/17/3128/ https://www.iwatec.co.jp/news/info/news-0-21/
Redirect permanent /news/2018/06/12/3155/ https://www.iwatec.co.jp/news/blog/news-0-20/
Redirect permanent /news/2018/07/12/3165/ https://www.iwatec.co.jp/news/blog/news-0-19/
Redirect permanent /news/2018/07/13/3188/ https://www.iwatec.co.jp/news/info/news-0-18/
Redirect permanent /news/2018/07/27/3201/ https://www.iwatec.co.jp/news/blog/news-0-17/
Redirect permanent /news/2018/08/02/3268/ https://www.iwatec.co.jp/news/info/news-0-16/
Redirect permanent /news/2018/08/07/3276/ https://www.iwatec.co.jp/news/blog/news-0-15/
Redirect permanent /news/2018/09/25/3305/ https://www.iwatec.co.jp/news/blog/news-0-14/
Redirect permanent /news/2018/10/09/3332/ https://www.iwatec.co.jp/news/blog/news-0-13/
Redirect permanent /news/2018/11/01/3348/ https://www.iwatec.co.jp/news/info/news-0-12/
Redirect permanent /news/2018/12/17/3364/ https://www.iwatec.co.jp/news/blog/news-0-11/
Redirect permanent /news/2018/12/21/3386/ https://www.iwatec.co.jp/news/blog/news-0-10/
Redirect permanent /news/2018/12/26/3406/ https://www.iwatec.co.jp/news/info/news-0-9/
Redirect permanent /news/2019/01/07/3416/ https://www.iwatec.co.jp/news/blog/news-0-8/
Redirect permanent /news/2019/01/17/3425/ https://www.iwatec.co.jp/news/info/news-0-7/
Redirect permanent /news/2019/02/12/3446/ https://www.iwatec.co.jp/news/blog/news-0-6/
Redirect permanent /news/2019/03/07/3465/ https://www.iwatec.co.jp/news/blog/news-0-5/
Redirect permanent /news/2019/03/22/3482/ https://www.iwatec.co.jp/news/blog/news-0-4/
Redirect permanent /news/2019/04/23/3505/ https://www.iwatec.co.jp/news/info/news-0/
Redirect permanent /news/2019/07/16/3531/ https://www.iwatec.co.jp/news/blog/news-0-3/
Redirect permanent /news/2019/08/05/3545/ https://www.iwatec.co.jp/news/info/news-0-2/
Redirect permanent /news/news-category/news/ https://www.iwatec.co.jp/news/info/
Redirect permanent /news/news-category/staff/ https://www.iwatec.co.jp/news/blog/

## 固定ページ
Redirect permanent /services/maintenance/diagnosis/ https://www.iwatec.co.jp/services/operation-maintenance/
Redirect permanent /services/maintenance/om/ https://www.iwatec.co.jp/services/operation-maintenance/
Redirect permanent /services/maintenance/ https://www.iwatec.co.jp/services/operation-maintenance/
Redirect permanent /services/procurement/ https://www.iwatec.co.jp/services/overseas-business/
Redirect permanent /services/recruiting/ https://www.iwatec.co.jp/services/overseas-business/
Redirect permanent /services/renewable-energy/about/ https://www.iwatec.co.jp/services/
Redirect permanent /services/renewable-energy/biomass-power/ https://www.iwatec.co.jp/services/biomass-power-generation/
Redirect permanent /services/renewable-energy/geothermal-power/ https://www.iwatec.co.jp/services/geothermal-power-generation/
Redirect permanent /services/renewable-energy/hydrogen-fuel-cell/ https://www.iwatec.co.jp/services/hydrogen-fuelcell/
Redirect permanent /services/renewable-energy/ https://www.iwatec.co.jp/services/
Redirect permanent /services/solor-power/about/ https://www.iwatec.co.jp/services/photovoltaic-power-generation/
Redirect permanent /services/solor-power/faq/ https://www.iwatec.co.jp/services/photovoltaic-power-generation/
Redirect permanent /services/solor-power/products/ https://www.iwatec.co.jp/services/photovoltaic-power-generation/
Redirect permanent /services/solor-power/warranty/ https://www.iwatec.co.jp/services/photovoltaic-power-generation/
Redirect permanent /services/solor-power/ https://www.iwatec.co.jp/services/photovoltaic-power-generation/
Redirect permanent /services/translation/ https://www.iwatec.co.jp/services/overseas-business/
Redirect permanent /about/access/ https://www.iwatec.co.jp/about/
Redirect permanent /about/environmental-activities/ https://www.iwatec.co.jp/about/
Redirect permanent /about/history/ https://www.iwatec.co.jp/about/
Redirect permanent /about/profile/ https://www.iwatec.co.jp/about/
Redirect permanent /about/recruit/ https://www.iwatec.co.jp/recruit/
Redirect permanent /works/power-plant/ https://www.iwatec.co.jp/works/
Redirect permanent /works/solor-power/hv-commercial/1-solar-power-plant/ https://www.iwatec.co.jp/works/
Redirect permanent /works/solor-power/hv-commercial/2-solar-power-plant/ https://www.iwatec.co.jp/works/
Redirect permanent /works/solor-power/hv-commercial/3-solar-power-plant/ https://www.iwatec.co.jp/works/
Redirect permanent /works/solor-power/hv-commercial/4-solar-power-plant/ https://www.iwatec.co.jp/works/
Redirect permanent /works/solor-power/hv-commercial/5-solar-power-plant/ https://www.iwatec.co.jp/works/
Redirect permanent /works/solor-power/hv-commercial/mega-solar/ https://www.iwatec.co.jp/works/
Redirect permanent /works/solor-power/lv-commercial/ https://www.iwatec.co.jp/works/
Redirect permanent /works/solor-power/residential/ https://www.iwatec.co.jp/works/
Redirect permanent /works/solor-power/hv-commercial/ https://www.iwatec.co.jp/works/
Redirect permanent /works/solor-power/ https://www.iwatec.co.jp/works/

#SITEGUARD_PLUGIN_SETTINGS_START
#==== SITEGUARD_RENAME_LOGIN_SETTINGS_START
<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteBase /
    RewriteRule ^wp-signup\.php 404-siteguard [L]
    RewriteRule ^wp-activate\.php 404-siteguard [L]
    RewriteRule ^login_s3etbnid(.*)$ wp-login.php$1 [L]
</IfModule>
#==== SITEGUARD_RENAME_LOGIN_SETTINGS_END
#==== SITEGUARD_ADMIN_FILTER_SETTINGS_START
<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteBase /
    RewriteRule ^404-siteguard - [L]
    RewriteRule ^wp-admin/css - [L]
    RewriteRule ^wp-admin/images - [L]
    RewriteRule ^wp-admin/admin-ajax\.php - [L]
    RewriteRule ^wp-admin/load-styles\.php - [L]
    RewriteRule ^wp-admin/site-health\.php - [L]
    RewriteCond %{REMOTE_ADDR} !^127\.0\.0\.1$
    RewriteRule ^wp-admin 404-siteguard [L]
</IfModule>
#==== SITEGUARD_ADMIN_FILTER_SETTINGS_END
#SITEGUARD_PLUGIN_SETTINGS_END

# BEGIN WordPress
# `BEGIN WordPress` から `END WordPress` までのディレクティブ (行) は
# 動的に生成され、WordPress フィルターによってのみ修正が可能です。
# これらのマーカー間にあるディレクティブへのいかなる変更も上書きされてしまいます。
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress

