
/* Wisywig¥¨¥Ç¥£¥¿ ¥¹¥¿¥¤¥ë
---------------------------------------------------------------------------- */
.m-single-content{
	font-size: 1.6rem;
	line-height: 1.75;

	p{
		& + p{
			margin-top: 1em;
		}
	}

	h2{
		font-size: 2em;
		font-weight: 700;
		clear: both;
	}

	h3{
		font-size: 1.7em;
		font-weight: 700;
		clear: both;
	}

	h4{
		font-size: 1.5em;
		font-weight: 500;
		clear: both;
	}

	h5{
		font-size: 1.4em;
		font-weight: 500;
		clear: both;
	}

	h6{
		font-size: 1.2em;
		font-weight: 500;
		clear: both;
	}

	table {
		width: auto;
		margin-top: 2em;
		clear: both;

		th {
			padding: 20px 15px;
			border-bottom: 3px solid #fff;
			border-right: 3px solid #fff;
			background-color: #d6d6d6;
		}

		td {
			padding: 20px 15px;
			border-bottom: 3px solid #fff;
			background-color: #f2f2f2;
			font-weight: 400;

			p {
				margin: 0;
			}
		}
	}

	.wp-block-image{
		margin-top: 20px;
	}

	ul{
		margin-top: 1.5em;
		list-style-type: disc;
		list-style-position: inside;
	}
	ol{
		margin-top: 1.5em;
		list-style-type: decimal;
		list-style-position: inside;
	}

	.aligncenter {
		display: block;
		margin: 0 auto;
	}
	.alignright {
		float: right;
		margin-left: 1em;
	}
	.alignleft {
		float: left;
		margin-left: 1em;
	}
	strong { font-weight: bold; }
	em { font-style: italic; }

	blockquote {
		display: block;
		position: relative;
		padding: 10px 15px 10px 60px;
		box-sizing: border-box;
		font-style: italic;
		background: #efefef;
		color: #555;
		margin: 1.5em;
	}
	blockquote:before{
		display: inline-block;
		position: absolute;
		top: 10px;
		left: 10px;
		content: "¡°";
		color: #cfcfcf;
		font-size: 3em;
		line-height: 1;
		font-weight: 900;
	}
	hr{
		clear: both;
	}
}

/* TITLE BEGIN */
.m-titleH2{
	@include fz(28);
	letter-spacing: 0.06em;
	font-weight: bold;
	text-align: center;
}

.m-titleH2_2{
	@include fz(28);
	letter-spacing: 0.06em;
	font-weight: bold;
	text-align: center;
}

.m-titleH3{
	@include fz(22);
	letter-spacing: 0.08em;
	font-weight: 500;
}
/* TITLE END */


/* TEXT BEGIN */
.m-txtMini{
	@include fz(10);
}

.m-txtSmall{
	@include fz(14);
}

.m-txt{
	@include fz(16);
	letter-spacing: 0.06em;
}

.m-txt2{
	@include fz(16);
	letter-spacing: 0.06em;
}

.m-txtLarge{
	@include fz(18);
	letter-spacing: 0.08em;
}

/* TEXT END */

/* ROUND BEGIN */
.m-round{
	position: relative;

	&:before{
		content: "";
		position: absolute;
		z-index: 1;
		top: 50%;
	    transform: translateY(-50%);
		left: 0;
		right: 0;
		margin: 0 auto;
		width: 120px;
		height: 120px;
		background-color: #e0f0eb;
		border-radius: 50%;
	}

	span{
		position: relative;
		z-index: 5;
	}
}
/* ROUND END */

/* BUTTON BEGIN */
.m-btn{

	a{
		display: inline-block;
		text-align: center;
		padding: 12px 30px;
		border: 1px solid #b3b3b3;
		background-color: #FFF;
		position: relative;
		color: inherit;

		&:before{
			content: "";
			position: absolute;
			z-index: 1;
			left: 0;
			bottom: 0;
			width: 0;
			height: 3px;
			background-color: #ff4e00;
			transition: width 0.3s;
		}

		&:hover{
			&:before{
				width: 100%;
			}
		}

		span{
			@include fz(16);
			letter-spacing: 0.06em;
			background-image: url(#{$img_path}/common/icn_arrow_orange.png);
			background-repeat: no-repeat;
			background-position: right center;
			padding-right: 30px;
		}
	}
}

.m-btn-down{
	a{
		span{
			background-image: url(#{$img_path}/common/icn_arrow_orange_down.png);
		}
	}
}
/* BUTTON END */

@media screen and (max-width: #{$breakpoint}px){
	/* TEXT BEGIN */
	.m-txtMini{
		@include spfz(15);
	}

	.m-txtSmall{
		@include spfz(24);
	}

	.m-txt{
		@include spfz(32);
	}

	.m-txt2{
		@include spfz(28);
		letter-spacing: 0.03em;
	}

	.m-txtLarge{
		@include spfz(34);
	}
	/* TEXT END */

	/* ROUND BEGIN */
	.m-round{
		letter-spacing: 0;

		&:before{
			width: 22vw;
			height: 22vw;
		}
	}
	/* ROUND END */

	/* TITLE BEGIN */
	.m-titleH2{
		@include spfz(42);
	}

	.m-titleH2_2{
		@include spfz(38);
		letter-spacing: 0;
	}

	.m-titleH3{
		@include spfz(32);
	}
	/* TITLE END */

	/* BUTTON BEGIN */
	.m-btn{

		a{
			padding: 3vw 10vw;

			span{
				@include spfz(32);
				padding-right: 8vw;
			}
		}
	}
	/* BUTTON END */
}

/* MV BEGIN */
.m-mv{
	background-color: #e0f1eb;
	width: 100%;
	border-bottom: 1px solid #e0b799;
}

.m-mv-inner{
	width: 1180px;
	margin: 0 auto;
	position: relative;
}

.m-mv-title-cover{
	position: absolute;
	z-index: 1;
	left: 0;
	top: 50%;
    transform: translateY(-50%);
}

.m-mv-title{
	@include fz(33);
	letter-spacing: 0.08em;
	font-weight: bold;
}

.m-mv-sub{
	@include fz(18);
	letter-spacing: 0.06em;
	margin-top: 10px;
}

.m-mv-img{
	float: right;
}

@media screen and (max-width: #{$breakpoint}px){
	.m-mv-inner{
		width: 100%;
	}

	.m-mv-title-cover{
		left: 4%;
	}

	.m-mv-title{
		@include spfz(50);
	}

	.m-mv-sub{
		@include spfz(32);
		margin-top: 1vw;
	}

	.m-mv-img{
		width: 45vw;
	}
}

/* MV END */

/* CONTACT BEGIN */
.m-contact{
	width: 900px;
	margin: 50px auto 0;
	background-color: #e5f1dd;
	border-radius: 7px;
	padding: 40px 0 35px;
	text-align: center;
}

.m-contact-title{
	@include fz(36);
	letter-spacing: 0.08em;
	font-family: 'Hammersmith One', sans-serif;
	line-height: 1;
}

.m-contact-sub{
	@include fz(16);
	font-weight: bold;
	letter-spacing: 0.06em;

}

.m-contact-list{
	font-size: 0;
	text-align: center;
	margin-top: 40px;

	li{
		display: inline-block;

		&+li{
			margin-left: 30px;
		}

		a{
			display: block;
		}
	}
}

.m-contact-tel{
	pointer-events: none;
}

@media screen and (max-width: #{$breakpoint}px){
	.m-contact{
		width: 100%;
		margin: 10vw auto 0;
		border-radius: 10px;
		padding: 10vw 5vw;
	}

	.m-contact-title{
		@include spfz(72);
	}

	.m-contact-sub{
		@include spfz(30);

	}

	.m-contact-list{
		margin-top: 5vw;

		li{
			display: block;

			&+li{
				margin-left: 0;
				margin-top: 5vw;
			}
		}
	}

	.m-contact-tel{
		pointer-events: auto;
	}
}
/* CONTACT END */

/* BOX BEGIN */
.m-box{
	background-color: #FFF;
	padding: 50px 100px;
}

@media screen and (max-width: #{$breakpoint}px){
	.m-box{
		padding: 8vw 7vw;
	}
}
/* BOX END */

/* PAGER BEGIN */
.m-pager{
	text-align: center;
	font-size: 0;

	.prev,
	.next{
		color: inherit;
		border: none;
		color: $color_orange !important;
	}

	.page-numbers{
		display: inline-block;
		width: 40px;
		height: 40px;
		padding-top: 5px;
		text-align: center;
		border-width: 1px;
		border-style: solid;
		border-color: #b3b3b3;
		color: #282828;
		@include fz(16);
		margin: 0 5px;

		&:hover{
			border-color: $color_orange;
			color: $color_orange;
		}
	}

	.current{
		border-color: $color_orange;
		color: $color_orange;
	}

	.dots{
		border: none;
		color: inherit !important;
		margin: 0;
	}
}

@media screen and (max-width: #{$breakpoint}px){
	.m-pager{
		.page-numbers{
			width: 7vw;
			height: 7vw;
			padding-top: 0;
			@include spfz(30);
			margin: 0 1vw;
		}

		.dots{
			margin: 0;
		}
	}
}
/* PAGER END */

/* SECTION BEGIN */
.m-sectionSmall{
	margin-top: 20px;
}

.m-sectionSMedium{
	margin-top: 30px;
}

.m-sectionMedium{
	margin-top: 40px;
}

.m-sectionMLarge{
	margin-top: 60px;
}

.m-sectionLarge{
	margin-top: 70px;
}

.m-sectionMega{
	margin-top: 90px;
}

.m-sectionUltra{
	margin-top: 120px;
}

@media screen and (max-width: #{$breakpoint}px){
	.m-sectionSmall{
		margin-top: 5vw;
	}

	.m-sectionSMedium{
		margin-top: 5.5vw;
	}

	.m-sectionMedium{
		margin-top: 6vw;
	}

	.m-sectionMLarge{
		margin-top: 7vw;
	}

	.m-sectionLarge{
		margin-top: 8vw;
	}

	.m-sectionMega{
		margin-top: 10vw;
	}

	.m-sectionUltra{
		margin-top: 12vw;
	}
}
/* SECTION END */

/* INDENT BEGIN */
.m-indent{
	text-indent: -1em;
	padding-left: 1em;
}

.m-indent2{
	text-indent: -2em;
	padding-left: 2em;
}

.m-indent3{
	text-indent: -3em;
	padding-left: 3em;
}
/* INDENT END */


/* MERIT BEGIN */
.m-merit{
	text-align: center;
	font-size: 0;

	li{
		display: inline-block;
		width: 32%;
		text-align: left;
		padding: 20px;
		background-color: #e0f0eb;
		vertical-align: top;

		&+li{
			margin-left: 2%;
		}
	}
}

.m-merit-2col{
	li{
		width: 370px;

		&+li{
			margin-left: 0;
		}

		&:nth-child(even){
			margin-left: 60px;
		}

		&:nth-child(n+3){
			margin-top: 30px;
		}
	}
}

.m-merit-title-cover{
	display: table;
	width: 100%;
	margin-top: 15px;
	margin-bottom: 15px;
	text-align: center;
}

.m-merit-title{
	display: table-cell;
	vertical-align: middle;
	@include fz(20);
	letter-spacing: 0.08em;
	font-weight: 500;
}

@media screen and (max-width: #{$breakpoint}px){
	.m-merit{
		li{
			display: block;
			width: 100%;
			padding: 4vw 3vw 6vw;

			&+li{
				margin-left: 0;
				margin-top: 5vw;
			}
		}

		img{
			width: 100%;
		}
	}

	.m-merit-2col{
		li{
			width: 100%;

			&:nth-child(even){
				margin-left: 0;
			}

			&:nth-child(n+3){
				margin-top: 5vw;
			}
		}
	}

	.m-merit-title{
		@include spfz(34);
		margin-top: 2vw;
		margin-bottom: 2vw;
	}
}
/* MERIT END */

/* SERVICELINK BEGIN */
.m-serviceLink{
	text-align: center;
	font-size: 0;
	margin-top: 60px;

	li{
		text-align: left;
		display: inline-block;
		width: 32%;

		&:not(:nth-child(3n)){
			margin-right: 2%;
		}

		&:nth-child(n+4){
			margin-top: 40px;
		}

		a{
			display: block;
			color: inherit;
			background-color: #FFF;
			position: relative;
		}

		a:before,
		a:after,
		.m-serviceLink-inner:before,
		.m-serviceLink-inner:after{
			content: "";
			position: absolute;
			z-index: 1;
			background-color: $color_orange;
			transition: all 0.3s;
		}

		a:before,
		a:after{
			width: 0;
			height: 2px;
		}

		a:before{
			top: 0;
			left: 0;
		}

		a:after{
			bottom: 0;
			right: 0;
		}

		.m-serviceLink-inner:before,
		.m-serviceLink-inner:after{
			height: 0;
			width: 2px;
		}

		.m-serviceLink-inner:before{
			left: 0;
			bottom: 0;
		}

		.m-serviceLink-inner:after{
			right: 0;
			top: 0;
		}

		a:hover{
			&:before,
			&:after{
				width: 100%;
			}

			.m-serviceLink-inner:before,
			.m-serviceLink-inner:after{
				height: 100%;
			}
		}

	}
}

.m-serviceLink-inner{
	display: table;
}

.m-serviceLink-img{
	display: table-cell;
}

.m-serviceLink-content{
	display: table-cell;
	vertical-align: middle;
	width: 235px;
	text-align: center;
}

.m-serviceLink-title{
	@include fz(18);
	letter-spacing: 0.08em;
	font-weight: bold;
	margin-bottom: 5px;
}

.m-serviceLink-txt{
	span{
		color: $color_orange;
		margin-left: 5px;
	}
}

@media screen and (max-width: #{$breakpoint}px){
	.m-serviceLink{
		margin-top: 10vw;

		li{
			display: block;
			width: 100%;

			&:not(:nth-child(3n)){
				margin-right: 0;
			}

			&:nth-child(n+4){
				margin-top: 0;
			}

			a{
				background-image: url(#{$img_path}/common/icn_arrow_orange.png);
				background-repeat: no-repeat;
				background-position: 96% center;
			}
		}
	}

	.m-serviceLink-img{
		width: 30%;
	}

	.m-serviceLink-content{
		width: 70%;
		padding-right: 5%;
	}

	.m-serviceLink-title{
		@include spfz(35);
		margin-bottom: 0;
	}
}
/* SERVICELINK END */

/* SERVICE CONSULT BEGIN */
.m-serviceConsult-cover{
	width: 1180px;
	background-color: #FFF;
	margin: 0 auto;
	padding: 80px 0;
}

.m-serviceConsult{
	width: 900px;
	margin: 0 auto;
	padding: 35px 100px;
	background-color: #e5f1dd;
	border-radius: 10px;

	.m-contact-list{
		margin-top: 25px;
	}
}

.m-serviceConsult-content{
	background-image: url(#{$img_path}/common/bg_service_consult.png);
	background-repeat: no-repeat;
	background-position: top center;
	border-bottom: 1px dotted $color_orange;
	padding-bottom: 15px;
}

.m-serviceConsult-title{
	@include fz(24);
	letter-spacing: 0.08em;
	font-weight: bold;
	color: #88b487;
	text-align: center;
}

.m-serviceConsult-inner{
	display: flex;
	margin-top: 28px;
}

.m-serviceConsult-center{
	padding-top: 75px;
	position: relative;
}

.m-serviceConsult-center-deco{
	position: absolute;
	top: 0;
	animation-name: shake;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes shake{
	0%   { left: 30px; transform: rotate(0); }
	20%  { left: 30px; transform: rotate(0); }
	80%  { left: 40px; transform: rotate(25deg); }
	100% { left: 40px; transform: rotate(25deg); }
}

.m-serviceConsult-left,
.m-serviceConsult-right{
	width: 285px;
	position: relative;
}

.m-serviceConsult-left{
	.m-serviceConsult-box{
		right: 15px;
		&:before{
			right: -15px;
		}
	}	
}

.m-serviceConsult-right{
	.m-serviceConsult-box{
		left: 15px;
		&:before{
			left: -15px;
		}
	}
}

.m-serviceConsult-box{
	position: absolute;
	z-index: 1;
	background-color: #e0e0e0;
	padding: 15px 25px;
	border-radius: 5px;

	&:before{
		content: "";
		position: absolute;
		z-index: 1;
		top: 0;
		bottom: 0;
		margin: auto;
		width: 15px;
		height: 22px;
		background-repeat: no-repeat;
		background-position: left;
		background-size: contain;
	}
}

.m-serviceConsult-box-leftTop{
	top: 0;
	&:before{
		background-image: url(#{$img_path}/common/icn_service_box_leftTop.png);
	}
}

.m-serviceConsult-box-leftBottom{
	bottom: 20px;
	&:before{
		background-image: url(#{$img_path}/common/icn_service_box_leftBottom.png);
	}
}

.m-serviceConsult-box-rightTop{
	top: 0;
	&:before{
		background-image: url(#{$img_path}/common/icn_service_box_rightTop.png);
	}
}

.m-serviceConsult-box-rightBottom{
	bottom: 20px;
	&:before{
		background-image: url(#{$img_path}/common/icn_service_box_rightBottom.png);
	}
}

.m-serviceConsult-box-txt{
	@include fz(16);
	letter-spacing: 0.06em;
}


.m-serviceConsult-sub{
	@include fz(18);
	letter-spacing: 0.06em;
	font-weight: bold;
	text-align: center;
	margin-top: 15px;
}

@media screen and (max-width: #{$breakpoint}px){
	.m-serviceConsult-cover{
		width: 100%;
		padding: 10vw 0 0;
		background-color: transparent;
	}

	.m-serviceConsult{
		width: 100%;
		padding: 8vw 3vw;

		.m-contact-list{
			margin-top: 5vw;
		}
	}

	.m-serviceConsult-content{
		background-size: contain;
		padding-bottom: 5vw;
	}

	.m-serviceConsult-title{
		@include spfz(40);
	}

	.m-serviceConsult-inner{
		display: flex;
		margin-top: 2.2vw;
	}

	.m-serviceConsult-left,
	.m-serviceConsult-right{
		width: 35%;
	}

	.m-serviceConsult-center{
		padding-top: 13vw;

		img{
			width: 22vw;
		}
	}

	.m-serviceConsult-center-deco{
		width: 11.5vw;
	}

	@keyframes shake{
		0%   { left: 5vw; transform: rotate(0); }
		20%  { left: 5vw; transform: rotate(0); }
		80%  { left: 6.5vw; transform: rotate(25deg); }
		100% { left: 6.5vw; transform: rotate(25deg); }
	}

	.m-serviceConsult-left{
		.m-serviceConsult-box{
			right: 3vw;
			&:before{
				right: -3vw;
			}
		}	
	}

	.m-serviceConsult-right{
		.m-serviceConsult-box{
			left: 3vw;
			&:before{
				left: -3vw;
			}
		}
	}

	.m-serviceConsult-box{
		padding: 3vw 2vw;

		&:before{
			width: 5vw;
			height: 7vw;
		}
	}

	.m-serviceConsult-box-txt{
		@include spfz(20);
	}

	.m-serviceConsult-sub{
		@include spfz(32);
		margin-top: 3vw;
	}

	.m-serviceConsult-box-leftBottom{
		bottom: 3vw;
	}

	.m-serviceConsult-box-rightBottom{
		bottom: 3vw;
	}
}
/* SERVICE CONSULT END */

/* ANIMATE ITEM BEGIN */
.animate-default,
.animate-default-order{
	opacity: 0;
	transform: scale(0.5, 0.5);
	transition: all 0.5s cubic-bezier(0.75,0,.25,1);

	&.is-active{
		opacity: 1;
		transform: scale(1,1);
	}
}
/* ANIMATE ITEM END */

/* GIF HOVER BEGIN */
.m-hover-area{
	li{
		position: absolute;
		z-index: 5;
		cursor: pointer;
	}
}

.m-hover-comment{
	li{
		position: absolute;
		z-index: 1;
		cursor: default;
		@include fz(16);
		line-height: 1.25;
		font-weight: bold;
		background-color: #faf9ef;
		padding: 10px;
		border-radius: 10px;
		border: 2px solid $color_orange;
		opacity: 0;
		transition: opacity 0.5s;

		&.is-active{
			opacity: 1;
		}

		&:before{
			content: "";
			position: absolute;
			z-index: 1;
			width: 15px;
			height: 15px;
			background-repeat: no-repeat;
			background-size: contain;
		}
	}
}

.m-hover-comment-up{
	&:before{
    	top: -15px;
		background-image: url(#{$img_path}/common/icn_hover_arrow_up.png);
	}
}

.m-hover-comment-down{
	&:before{
    	bottom: -15px;
		background-image: url(#{$img_path}/common/icn_hover_arrow_down.png);
	}
}

.m-hover-comment-left{
	&:before{
    	left: -15px;
		background-image: url(#{$img_path}/common/icn_hover_arrow_left.png);
	}
}

.m-hover-comment-right{
	&:before{
    	right: -15px;
		background-image: url(#{$img_path}/common/icn_hover_arrow_right.png);
	}
}
/* GIF HOVER END */