@charset "UTF-8";

@import "config";
@import "reset";
@import "module";


/* General Elements
---------------------------------------------------------------------------- */
*{
	box-sizing: border-box;
}
html { font-size: 62.5%; }
body{
	font-family: 'Noto Serif JP', "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", 'Noto Sans Japanese', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro','メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
	font-size: 12px;
	font-size: 1.2rem;
	line-height: 1.5;
	-webkit-text-size-adjust: 100%;
	color: $black;
	min-width: 1200px;
}
a{
	text-decoration:underline;
	color: $red;
	outline: none;
}
a:hover{ text-decoration: none; }
img{
	max-width: 100%;
	height: auto;
}

@media screen and (max-width: #{$breakpoint}px){
	body{
		min-width: inherit;
	}
}



/* RWD表示切り替え
---------------------------------------------------------------------------- */
@media all and (min-width: 768px){
	.nopc{
		display: none !important;
	}
}
@media all and (max-width: 767px){
	.nosp{
		display: none !important;
	}
}


/* l-header
---------------------------------------------------------------------------- */
.l-header{
	position: fixed;
	left: 0;
	top: 0;
	z-index: 99;
	width: 100%;
	height: 81px;
	background-color: #fff;
	box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	transition: .3s;

	&.is-fv{
		background-color: transparent;

		a{
			color: #fff;
		}

		.l-gnav-cv-tel,
		.l-gnav-cv-tel-txt{
			color: #fff;
		}
	}
}

.l-logo{
	margin: 14px 0 0 80px;
	float: left;
}

.l-gnav-wrap{
	float: right;
	margin-right: 60px;
}

.l-gnav{
	float: left;
	margin-top: 20px;

	li{
		float: left;
		width: 145px;
		text-align: center;
		border-left: 1px solid #d6d6d6;

		&:last-of-type{
			border-right: 1px solid #d6d6d6;
		}
	}
	a{
		display: block;
		color: $black;
		text-decoration: none;
		position: relative;

		&:after{
			display: block;
			content: "";
			width: 0;
			height: 2px;
			background-color: $red;
			position: absolute;
			bottom: -8px;
			left: 0;
			right: 0;
			margin: auto;
			transition: .28s;
			transition-timing-function: ease-in-out;
		}
		&:hover:after,
		&.is-current:after{
			padding: 0 35%;
		}
	}
}
.l-gnav-en{
	font-size: 1rem;
}
.l-gnav-ja{
	display: block;
	font-size: 1.6rem;
}

.l-gnav-cv{
	float: right;
	padding-right: 150px;
	position: relative;
	text-align: center;

	a{
		display: block;
		text-decoration: none;
	}

	li:first-of-type{
		float: left;
		width: 240px;
		margin-top: 15px;
	}
	li:last-of-type{
		position: absolute;
		top: 0;
		right: 0;
		width: 150px;

		a{
			background-color: $red;
			color: #fff;
			font-size: 1.8rem;
			padding: 25px 0;
			border-radius: 0 0 5px 5px;
		}
		span{
			display: block;
			font-size: 1rem;
		}
	}
}
.l-gnav-cv-tel{
	color: $red;
	font-size: 2rem;
	font-weight: bold;
	line-height: 1.35;

	span{
		font-size: 1.5rem;
	}
}
.l-gnav-cv-tel-txt{
	display: block;
	font-size: 1.4rem;
	color: $black;
}

.l-nav-btn{
	display: none;
}

@media screen and (max-width: 1370px){
	.l-logo{
		margin-left: 40px;
	}
	.l-gnav-wrap{
		margin-right: 40px;
	}
}

@media screen and (max-width: 1290px){
	.l-logo{
		margin-left: 40px;
	}
	.l-gnav-wrap{
		margin-right: 40px;
	}
	.l-gnav{
		li{
			width: 125px;
		}
	}
	.l-gnav-cv{
		li:first-of-type{
			width: 210px;
		}
	}
}

@media screen and (max-width: 1200px){
	.l-logo{
		margin-left: 20px;
	}
	.l-gnav-wrap{
		margin-right: 20px;
	}
	.l-gnav{
		li{
			width: 110px;
		}
	}
	.l-gnav-cv{
		padding-right: 130px;

		li:first-of-type{
			width: 200px;
		}
		li:last-of-type{
			width: 130px;
		}
	}
}

@media screen and (max-width: 1060px){
	.l-logo{
		width: 190px;
		margin: 18px 0 0 10px;
	}
	.l-gnav-wrap{
		margin-right: 10px;
	}
	.l-gnav{
		li{
			width: 95px;
		}
	}
	.l-gnav-ja{
		font-size: 1.5rem;
	}
	.l-gnav-cv{
		padding-right: 105px;

		li:first-of-type{
			width: 185px;
			margin-top: 18px;
		}
		li:last-of-type{
			width: 105px;

			a{
				font-size: 1.5rem;
			}
		}
	}
	.l-gnav-cv-tel{
		font-size: 1.7rem;
	}
	.l-gnav-cv-tel-txt{
		font-size: 1.2rm;
	}
}

@media screen and (max-width: 920px){
	.l-gnav-cv{
		padding-right: 135px;

		li:first-of-type{
			display: none;
		}
	}
}

@media screen and (max-width: #{$breakpoint}px){
	.l-header{
		height: 60px;

		&.is-fv{
			background-color: transparent;

			a{
				color: $black;
			}

			.l-nav-btn{
				color: #fff;
				border-left-color: rgba(255, 255, 255, 0.5);

				p{
					background-color: #fff;

					&:nth-of-type(2){
						&:after{
							background-color: #fff;
						}
					}
				}
			}
		}
	}

	.l-logo{
		margin: 10px 0 0 4vw;
		width: 164px;
	}

	.l-gnav-wrap{
		float: none;
		display: none;
		margin-right: 0;
		position: fixed;
		top: 60px;
		left: 0;
		background-color: #fff;
		width: 100%;
		padding-bottom: 8vw;
		overflow-y: scroll !important;
		border-top: 1px solid #999;
	}

	.l-gnav{
		float: none;
		margin-top: 0;
		padding: 0 4vw;

		a{
			overflow: hidden;
			padding: 50/750*100vw 10vw 25/750*100vw 10/750*100vw;
			background-image: url(../../images/common/icn_arrow_right_black.svg);
			background-repeat: no-repeat;
			background-position: right 60%;
			background-size: 6vw;

			&:after{
				display: none;
			}
		}

		li{
			float: none;
			width: 100%;
			text-align: left;
			border-left: none;
			border-bottom: 1px solid #d6d6d6;

			&:last-of-type{
				border-right: none;
			}
		}
	}
	.l-gnav-en{
		@include spfz(22);
		padding-top: 1.7vw;
		display: inline-block;
	}
	.l-gnav-ja{
		@include spfz(34);
		float: left;
		margin-right: 25/750*100vw;
	}

	.l-gnav-cv{
		float: none;
		padding: 0 4vw;

		li:first-of-type{
			display: block;
			float: none;
			width: 100%;
			margin-top: 60/750*100vw;
			background-color: $beige;
			border-radius: 5px;
			padding: 2vw 0;
		}
		li:last-of-type{
			position: static;
			width: 100%;
			margin-top: 4vw;

			a{
				@include spfz(32);
				padding: 4vw 0;
				border-radius: 5px;
			}
			span{
				display: none;
			}
		}
	}
	.l-gnav-cv-tel{
		color: #fff;
		@include spfz(38);

		span{
			@include spfz(28);
		}
	}
	.l-gnav-cv-tel-txt{
		@include spfz(26);
		color: #fff;
	}

	// SPハンバーガーナビボタン
	.l-nav-btn{
		display: block;
		width: 70px;
		height: 60px;
		float: right;
		-webkit-transition: all .4s;
		transition: all .4s;
		box-sizing: border-box;
		cursor: pointer;
		position: relative;
		@include noto(400);
		font-size: 1.1rem;
		padding-top: 36px;
		text-align: center;
		border-left: 1px solid #999;

		p{
			position: absolute;
			display: inline-block;
			left: 0;
			right: 0;
			margin: auto;
			width: 40%;
			height: 2px;
			background-color: $black;
			-webkit-transition: all .4s;
			transition: all .4s;
			box-sizing: border-box;

			&:nth-of-type(1){
				top: 13px;
			}
			&:nth-of-type(2){
				top: 21px;

				&:after{
					position: absolute;
					top: 0;
					left: 0;
					content: '';
					width: 100%;
					height: 2px;
					border-radius: 4px;
					-webkit-transition: all .4s;
					transition: all .4s;
					background-color: $black;
				}
			}
			&:nth-of-type(3){
				top: 29px;
			}
		}

		&.is-active{
			p{
				&:nth-of-type(1){
					-webkit-transform: translateY(20px) scale(0);
					-ms-transform: translateY(20px) scale(0);
					transform: translateY(20px) scale(0);
				}
				&:nth-of-type(2){
					-webkit-transform: rotate(-45deg);
					-ms-transform: rotate(-45deg);
					transform: rotate(-45deg);

					&:after{
						-webkit-transform: rotate(90deg);
						-ms-transform: rotate(90deg);
						transform: rotate(90deg);
					}
				}
				&:nth-of-type(3){
					-webkit-transform: translateY(-20px) scale(0);
					-ms-transform: translateY(-20px) scale(0);
					transform: translateY(-20px) scale(0);
				}
			}
		}
	}// SPハンバーガーナビボタン
}


/* l-pagebody
---------------------------------------------------------------------------- */
.l-pagebody{
	width: 100%;
	padding: 81px 0 100px;
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: center 81px;
	position: relative;

	&:after{
		display: block;
		content: "";
		width: 100%;
		height: 100%;
		background-image: url(../../images/common/bg_underlayer.png);
		background-size: cover;
		position: fixed;
		top: 0;
		left: 0;
		z-index: -1;
	}
}

.l-content{
	width: $contents_width;
	margin: 0 auto;
}

.l-main-contents{
	padding: 30px 70px 80px;
	background-color: #fff;
}

.l-h1-wrap{
	padding: 75px 0;
}
.l-h1{
	color: #fff;
	font-size: 4.0rem;
	letter-spacing: 0.08em;
}
.l-h1-sub{
	color: #fff;
	font-size: 2.0rem;
	letter-spacing: 0.1em;
	margin-top: 5px;
}

@media screen and (max-width: #{$breakpoint}px){
	.l-pagebody{
		padding: 60px 0 120/750*100vw;
		background-position: center 60px;
		background-color: #eee;

		&:after{
			display: none;
		}
	}

	.l-content{
		width: 92%;
		overflow: hidden;
	}

	.l-main-contents{
		padding: 4vw 4vw 80/750*100vw;
	}

	.l-h1-wrap{
		padding: 65/750*100vw 0;
	}
	.l-h1{
		@include spfz(50);
	}
	.l-h1-sub{
		@include spfz(24);
		margin-top: 0;
	}
}



/* l-topicpath
---------------------------------------------------------------------------- */
.l-topicpath{
	margin-bottom: 70px;

	li{
		display: inline-block;
		font-size: 1.4rem;

		& + li:before{
			display: inline-block;
			content: ">";
			margin: 0 0.3em;
		}
	}
}
@media screen and (max-width: #{$breakpoint}px){
	.l-topicpath{
		margin-bottom: 90/750*100vw;

		li{
			@include spfz(24);
		}
	}
}



/* l-footer
---------------------------------------------------------------------------- */
.l-pagetop{
	position: fixed;
	right: 2vw;
	bottom: 1vw;
	z-index: 100;

	a{
		display: block;
		text-decoration: none;
	}

	&.is-fix{
		position: static;
		float: right;
		margin-right: 2vw;
		margin-top: -25px;
	}
}

.l-footer{
	background-color: $black;
	color: #fff;

	a{
		color: #fff;
		text-decoration: none;
	}
}
.l-footer-inner{
	width: 1120px;
	margin: 0 auto;
	padding: 40px 0 60px;
}

.l-footer-cv{
	float: right;
	width: 320px;
	text-align: center;

	li{
		border: 1px solid #fff;
		padding: 10px 40px;

		& + li{
			margin-top: 20px;
		}
	}
}
.l-footer-cv-mh{
	font-size: 1.6rem;
	letter-spacing: 0.12em;
	display: block;
}

.l-footer-cv-tel-num{
	display: inline-block;
	padding-left: 30px;
	background-image: url(../../images/common/icn_tel.svg);
	background-repeat: no-repeat;
	background-position: left center;
	font-size: 2.6rem;
	font-weight: bold;
	letter-spacing: 0.02em;
}
.l-footer-cv-tel-txt{
	font-size: 1.4rem;
	display: block;
}

.l-footer-cv-mail-btn{
	display: block;
	background-color: $red;
	border-radius: 5px;
	padding: 8px 0 8px 45px;
	background-image: url(../../images/common/icn_arrow_right.svg);
	background-repeat: no-repeat;
	background-position: right 20px center;
	margin-top: 5px;
	text-align: left;
	font-size: 1.6rem;
	letter-spacing: 0.08em;
}

.l-footer-nav{
	width: 210px;
	float: left;

	&:nth-of-type(2){
		width: 320px;
	}

	& > li{
		font-size: 1.6rem;
		margin-top: 15px;
	}
}
@media screen and (min-width: #{$breakpoint+1}px){
	.l-footer-nav{
		a:hover{
			text-decoration: underline;
		}
	}
}
.l-footer-nav-sub{
	li{
		font-size: 1.5rem;
		padding-left: 30px;
		position: relative;
		margin-top: 8px;

		&:before{
			display: block;
			content: "";
			width: 10px;
			height: 1px;
			background-color: #fff;
			position: absolute;
			left: 10px;
			top: 0;
			bottom: 0;
			margin: auto;
		}
	}
}

.l-footer-bnr{
	width: 340px;
	margin-top: 40px;
}

.l-copy{
	text-align: center;
	padding: 15px;
	border-top: 1px solid #fff;
	font-size: 1.4rem;
	letter-spacing: 0.08em;
}

@media screen and (max-width: #{$breakpoint}px){
	.l-pagetop{
		&.is-fix{
			display: none !important;
		}
	}
	.l-pagetop-sp{
		text-align: center;
		border-top: 1px solid #fff;
		border-bottom: 1px solid #fff;

		a{
			display: block;
			text-decoration: none;
			color: #fff;
			@include spfz(32);
			letter-spacing: 0.12em;
			padding: 35/750*100vw 0;
			background-image: url(../../images/common/icn_pagetop_sp.svg);
			background-repeat: no-repeat;
			background-position: 29% center;
			background-size: 4vw;
		}
	}

	.l-footer{
		background-color: $black;
		color: #fff;

		a{
			color: #fff;
			text-decoration: none;
		}
	}
	.l-footer-inner{
		width: 100%;
		margin: 0 auto;
		padding: 8vw 0 0;
	}

	.l-footer-cv{
		float: none;
		width: 92%;
		margin: 0 auto;

		li{
			padding: 4vw;

			& + li{
				margin-top: 4vw;
			}
		}
	}
	.l-footer-cv-mh{
		@include spfz(34);
		margin-bottom: 15/750*100vw;
	}

	.l-footer-cv-tel{
		.is-tel{
			background-color: $beige;
			padding: 2vw;
			border-radius: 5px;
		}
	}
	.l-footer-cv-tel-num{
		padding-left: 6vw;
		background-image: url(../../images/common/icn_tel.svg);
		background-size: 5vw;
		@include spfz(38);
		letter-spacing: 0.1em;
	}
	.l-footer-cv-tel-txt{
		@include spfz(26);
	}

	.l-footer-cv-mail-btn{
		padding: 4vw;
		text-align: center;
		background-position: right 40/750*100vw center;
		background-size: 6vw;
		margin-top: 0;
		@include spfz(32);
	}

	.l-footer-nav{
		text-align: center;
		width: 100%;
		float: none;

		&:nth-of-type(2){
			width: 100%;
		}

		& > li{
			width: 50%;
			float: left;
			@include spfz(30);
			margin-top: 0;
			border-top: 1px solid #5c5c5c;

			&:nth-of-type(2n){
				border-left: 1px solid #5c5c5c;
			}

			a{
				display: block;
				padding: 35/750*100vw 2vw;
			}
		}
	}
	.l-footer-nav-sub{
		display: none;
	}

	.l-footer-bnr{
		width: 92%;
		margin: 8vw auto;

		img{
			width: 100%;
		}
	}

	.l-copy{
		@include spfz(24);
		padding: 20/750*100vw;
	}
}







/* m-* パーツモジュール
---------------------------------------------------------------------------- */
.m-more-btn{
	display: inline-block;
	margin-top: 20px;

	a{
		display: block;
		border-radius: 50px;
		border: 1px solid #ba874d;
		color: #ba874d;
		text-decoration: none;
		position: relative;
		z-index: 1;
		font-size: 1.6rem;
		letter-spacing: 0.06em;
		background-color: #fff;
		transition: .3s;
		overflow: hidden;

		span{
			display: block;
			padding: 8px 50px 8px 30px;
			background-image: url(../../images/common/icn_arrow_right_beige.svg);
			background-repeat: no-repeat;
			background-position: right 15px center;
			position: relative;
			z-index: 2;
		}

		&:after{
			display: block;
			content: "";
			width: 100%;
			height: 100%;
			background-color: $beige;
			position: absolute;
			left: -100%;
			top: 0;
			transition: .3s;
			z-index: 1;
		}

		&[target='_blank']{
			span{
				background-image: url(../../images/common/icn_blank.png);
				background-position: right 20px center;
			}
		}
	}

	& + .m-more-btn{
		margin-left: 20px;
	}
}


.m-back-btn{
	display: inline-block;
	margin: 40px 0 0;

	a{
		display: block;
		border-radius: 50px;
		border: 1px solid #ba874d;
		color: #ba874d;
		text-decoration: none;
		position: relative;
		z-index: 1;
		font-size: 1.6rem;
		letter-spacing: 0.06em;
		background-color: #fff;
		transition: 0.3s;
		overflow: hidden;

		span{
			display: block;
			padding: 8px 50px 8px 80px;
			background-image: url(../../images/common/icn_arrow_left_beige.svg);
			background-repeat: no-repeat;
			background-position: left 45px center;
			position: relative;
			z-index: 2;
		}

		&:after{
			display: block;
			content: "";
			width: 100%;
			height: 100%;
			background-color: $beige;
			position: absolute;
			left: -100%;
			top: 0;
			transition: .3s;
			z-index: 1;
		}
	}
}
@media screen and (min-width: #{$breakpoint+1}px){
	.m-more-btn{
		a{
			&:hover{
				color: #fff;

				span{
					background-image: url(../../images/common/icn_arrow_right.svg);
				}

				&:after{
					left: 0;
				}
			}

			&[target='_blank']{
				&:hover{
					span{
						background-image: url(../../images/common/icn_blank_on.png);
					}
				}
			}
		}
	}
	.m-back-btn{
		a{
			&:hover{
				color: #fff;

				span{
					background-image: url(../../images/common/icn_arrow_left.svg);
				}

				&:after{
					left: 0;
				}
			}
		}
	}
}
@media screen and (max-width: #{$breakpoint}px){
	.m-more-btn{
		display: block;
		margin-top: 60/750*100vw;
		text-align: center;

		a{
			@include spfz(28);
			transition: 0s;

			span{
				display: inline-block;
				padding: 20/750*100vw 8vw;
				background-position: right center;
				background-size: 38/750*100vw;
			}

			&[target='_blank']{
				span{
					background-position: right center;
					background-size: 25/750*100vw;
					padding: 20/750*100vw 7vw;
				}
			}
		}

		& + .m-more-btn{
			margin: 30/750*100vw 0 0;
		}
	}

	.m-back-btn {
		display: block;
		margin: 60/750*100vw 0 0;

		a{
			@include spfz(32);

			span{
				padding: 20/750*100vw 100/750*100vw 20/750*100vw 140/750*100vw;
				background-position: left 80/750*100vw center;
				background-size: 47/750*100vw auto;
			}
		}
	}
}

// CVボタンホバー
@media screen and (min-width: #{$breakpoint+1}px){
	.m-cvbtn-hover{
		transition: .3s;

		&:hover{
			background-color: #df5c52 !important;
		}
	}
}

// テキストリンクホバー
@media screen and (min-width: #{$breakpoint+1}px){
	.m-txt-hover{
		&:hover{
			text-decoration: underline;
		}
	}
}

// 見出し赤ボーダー左
.m-mh-bb-left{
	position: relative;
	padding-bottom: 5px;

	&:after{
		display: block;
		content: "";
		width: 50px;
		height: 1px;
		background-color: $red;
		position: absolute;
		left: 0;
		bottom: 0;
	}
}
// 見出し赤ボーダー中央
.m-mh-bb-center{
	position: relative;
	padding-bottom: 8px;

	&:after{
		display: block;
		content: "";
		width: 50px;
		height: 1px;
		background-color: $red;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
	}
}


// エントリーボックス
.m-entry-wrap{
	background-color: #f2f2f2;
	padding: 30px 0 30px 30px;
	display: table;
	table-layout: fixed;
	width: 100%;
}
.m-entry-img{
	display: table-cell;
	width: 460px;
	vertical-align: middle;
}
.m-entry-box{
	display: table-cell;
	vertical-align: middle;
}
.m-entry-mh{
	font-size: 3.2rem;
	font-weight: 500;
	margin-bottom: 10px;
	text-align: center;
}
.m-entry-txt{
	font-size: 1.6rem;
	@include noto(400);
	line-height: 1.75;
	margin-bottom: 25px;
	text-align: center;
}
.m-entry-btn{
	width: 350px;
	margin: 0 auto;

	a{
		display: block;
		text-decoration: none;
		color: #fff;
		font-size: 2.2rem;
		padding: 20px 60px;
		background-color: $red;
		background-image: url(../../images/common/icn_arrow_right.svg);
		background-repeat: no-repeat;
		background-position: right 25px center;
		background-size: 30px;
		border-radius: 5px;
	}
}
@media screen and (max-width: #{$breakpoint}px){
	.m-entry-wrap{
		padding: 4vw;
		display: block;
	}
	.m-entry-img{
		display: block;
		width: 100%;
	}
	.m-entry-box{
		display: block;
	}
	.m-entry-mh{
		@include spfz(44);
		margin: 30/750*100vw 0  15/750*100vw;
	}
	.m-entry-txt{
		@include spfz(28);
		@include noto(400);
		margin-bottom: 30/750*100vw;
	}

	.m-entry-btn{
		width: 84%;

		a{
			text-align: center;
			padding: 4vw;
			background-position: right 40/750*100vw center;
			background-size: 40/750*100vw;
			@include spfz(32);
		}
	}
}

// 通常テキスト
.m-normal-txt{
	font-size: 1.6rem;
	@include noto(400);
}
.m-cr-red{
	color: $red;
}
.m-smaller{
	font-size: smaller;
}
@media screen and (max-width: #{$breakpoint}px){
	.m-normal-txt{
		@include spfz(30);
	}
}


// ページ内リンク
.m-page-link{
	margin-top: 70px;

	li{
		width: 230px;
		float: left;

		& + li{
			margin-left: 20px;
		}
	}

	a{
		display: block;
		color: #fff;
		text-decoration: none;
		text-align: center;
		font-size: 1.8rem;
		padding: 10px 0 23px;
		background-image: url(../../images/common/icn_arrow_bottom.svg);
		background-repeat: no-repeat;
		background-position: center bottom 7px;
		background-size: 17px;
		background-color: $beige;
	}
}
@media screen and (max-width: #{$breakpoint}px){
	.m-page-link{
		margin-top: 80/750*100vw;

		li{
			width: 100%;
			float: none;

			& + li{
				margin: 4vw auto 0;
			}
		}

		a{
			@include spfz(32);
			padding: 20/750*100vw 0 45/750*100vw;
			background-position: center bottom 15/750*100vw;
			background-size: 4vw;
		}
	}
}


// 左ボーダー、下ボーダー見出し
.m-mh01{
	font-size: 2.8rem;
	font-weight: 500;
	padding: 0 0 6px 20px;
	position: relative;
	border-bottom: 1px solid $beige;
	margin: 45px 0 30px;

	&:before{
		display: block;
		content: "";
		width: 5px;
		height: 90%;
		background-color: $beige;
		position: absolute;
		left: 0;
		top: 0;
	}
}
@media screen and (max-width: #{$breakpoint}px){
	.m-mh01{
		@include spfz(42);
		padding: 0 0 10/750*100vw 25/750*100vw;
		margin: 8vw 0 40/750*100vw;
	}
}


// テーブル
.m-table {
	margin: 40px 0 75px;
	font-size: 1.6rem;
	line-height: 1.62;
	@include noto(400);

	th {
		width: 270px;
		padding: 30px 20px;
		border-bottom: 3px solid #fff;
		border-right: 3px solid #fff;
		background-color: #d6d6d6;
		text-align: left;
	}

	td {
		padding: 30px 15px;
		background-color: #f2f2f2;
		border-bottom: 3px solid #fff;
	}

	a:before {
		display: inline-block;
		content: ">";
		margin: 0 0.3em 0 1em;
		color: $red;
	}
}
@media screen and (max-width: #{$breakpoint}px){
	.m-table {
		margin: 40/750*100vw 0 75/750*100vw;
		line-height: 1.6;
		@include spfz(30);

		th {
			width: 100%;
			display: block;
			padding: 30/750*100vw;
			border-right: none;
		}

		td {
			width: 100%;
			display: block;
			padding: 30/750*100vw;
		}

		a:before {
			margin-left: 0;
		}
	}
}

// ページャー
.m-pager{
	text-align: center;
	font-size: 1.8rem;
	margin-top: 50px;

	span{
		display: inline-block;
		background-color: $beige;
		color: #fff;
		width: 35px;
		height: 35px;
		line-height: 35px;
		border: 1px solid $beige;
		margin: 0 7px;

		&.dots{
			background-color: transparent;
			color: $beige;
			border-color: transparent;
		}
	}
	a{
		display: inline-block;
		width: 35px;
		height: 35px;
		line-height: 35px;
		border: 1px solid $beige;
		color: $beige;
		text-decoration: none;
		margin: 0 7px;
		transition: .2s;

		&:hover{
			background-color: $beige;
			color: #fff;
		}
	}
}
@media screen and (max-width: #{$breakpoint}px){
	.m-pager{
		@include spfz(30);
		margin-top: 80/750*100vw;

		a, span{
			width: 68/750*100vw;
			height: 68/750*100vw;
			line-height: 68/750*100vw;
			margin: 0 15/750*100vw 15/750*100vw;
		}
	}
}

// single
.m-single-content{
	p{
		@include noto(400);
		font-size: 1.6rem;
		line-height: 1.75;

		& + p{
			margin-top: 20px;
		}
	}

	table {
		width: auto;
		margin-top: 60px;
		font-size: 1.6rem;
		@include noto(500);
		line-height: 1.75;

		th {
			padding: 20px 15px;
			border-bottom: 3px solid #fff;
			border-right: 3px solid #fff;
			background-color: #d6d6d6;
		}

		td {
			padding: 20px 15px;
			border-bottom: 3px solid #fff;
			background-color: #f2f2f2;
			font-weight: 400;

			p {
				margin: 0;
			}
		}
	}

	.wp-block-image{
		margin-top: 20px;
	}

	ul{
		margin-top: 20px;
		list-style-type: disc;
		list-style-position: inside;
		font-size: 1.6rem;
	}
	ol{
		margin-top: 20px;
		list-style-type: decimal;
		list-style-position: inside;
		font-size: 1.6rem;
	}

	.aligncenter {
		display: block;
		margin: 0 auto;
	}
	.alignright {
		float: right;
		margin-left: 15px;
	}
	.alignleft {
		float: left;
		margin-right: 15px;
	}
	strong { font-weight: bold; }
	em { font-style: italic; }
	blockquote {
		display: block;
		-webkit-margin-before: 1em;
		-webkit-margin-after: 1em;
		-webkit-margin-start: 40px;
		-webkit-margin-end: 40px;
	}
}
@media screen and (max-width: #{$breakpoint}px){
	.m-single-content{
		p{
			@include spfz(30);
			line-height: 1.53;

			& + p{
				margin-top: 20/750*100vw;
			}
		}

		table {
			margin-top: 80/750*100vw;
			@include spfz(30);
			line-height: 1.27;

			th {
				padding: 30/750*100vw 30/750*100vw;
			}

			td {
				padding: 30/750*100vw 30/750*100vw;
			}
		}

		ul, ol{
			@include spfz(30);
			margin-top: 20/750*100vw;
		}

		.alignright,
		.alignleft{
			float: none;
			margin: 20/750*100vw auto;
			text-align: center;
		}
	}
}



/* ------------------------------------
	印刷
------------------------------------ */
@media print{
	body{
		transform: translateX(-7.5%) scale(0.86,0.86);
		height: 100%;
		min-width: 1280px;
	}

	.nopc,
	.l-nav-btn{
		display: none !important;
	}

	.nosp{
		display: block !important;
	}

	.l-logo{
		margin-left: 40px;
	}
	.l-gnav-wrap{
		margin-right: 40px;
	}
	.l-gnav{
		li{
			width: 125px;
		}
	}
	.l-gnav-cv{
		li:first-of-type{
			width: 210px;
		}
	}

	.p-group-content-box{
		opacity: 1 !important;
		margin: 0;

		&.is-group-anime{
			margin: 0;
		}
	}
	.p-group-content02 .p-group-content-box,
	.p-group-content04 .p-group-content-box{
		margin: 0 0 0 auto;

		&.is-group-anime{
			margin: 0 0 0 auto;
		}
	}
}