@charset "UTF-8";

@import '../../common/config';

.p-img-sub{
	@include fz(20);
	margin-top: 30px;
	letter-spacing: 0.08em;
}

.p-listCenter{
	text-align: center;
	font-size: 0;

	li{
		display: inline-block;
		width: 32%;

		&+li{
			margin-left: 2%;
		}
	}
}

.p-listCenter-txt{
	@include fz(20);
	letter-spacing: 0.08em;
}

.p-list-2col{
	text-align: center;
	font-size: 0;

	li{
		display: inline-block;

		&+li{
			margin-left: 45px;
		}
	}
}

.p-box{
	background-color: #eef8f5;
	padding: 25px;
}

.p-ems{
	position: relative;
	width: 884px;
	margin-left: auto;
	margin-right: auto;
}

.p-ems-deco-cover-overlay{
	position: absolute;
	z-index: 1;
	width: 355px;
	height: 325px;
	top: 15%;
	right: 6.5%;

	&.is-transition{
		transition: all 2.2s ease-in-out;
	}


	&.is-rotate{
		top: 15.5%;
		right: 7%;
		transform: rotate(360deg);
	}
}

.p-ems-deco-cover{
	position: absolute;
	z-index: 1;
	width: 327px;
	height: 327px;
	overflow: hidden;
	opacity: 0;
	transition: opacity 1s ease, opacity 1s ease;

	&.is-active{
		opacity: 1;
	}

	img{
		position: absolute;
		top: 0;
	}
}

.p-ems-deco-check{
	top: 2%;
	right: 2%;
}

.p-ems-deco-control{
	top: 46%;
	right: 7%;
}


.p-ems-deco-inner{
	position: absolute;
	opacity: 0;
	transition: opacity 1s ease;

	&.is-active{
		opacity: 1;
	}
}

.p-ems-deco-production{
    top: 37.5%;
    right: 23.5%;
}

.p-ems-deco-storage{
    top: 54.5%;
    right: 19.2%;
}

.p-ems-deco-use{
    top: 55%;
    right: 28.5%;
}

.is-eng{
	.p-ems-deco-use{
		right: 30%;
	}
}

#solar-self{
	width: 100%;
}

.m-serviceConsult-box-leftTop{
	top: 30px;
}

.m-serviceConsult-box-rightTop{
	top: -15px;
}

.m-serviceConsult-box-rightBottom{
	bottom: 15px;
}

.p-serviceConsult-box-txt {
	@include fz(14);
}


@media screen and (max-width: #{$breakpoint}px){
	.p-img-sub{
		@include spfz(24);
		margin-top: 3vw;
	}

	.p-listCenter{
		width: 75%;
		margin: 0 auto;

		li{
			display: block;
			width: 100%;

			&+li{
				margin-left: 0;
				margin-top: 4vw;
			}
		}
	}

	.p-listCenter-txt{
		@include spfz(32);
	}

	.p-list-2col{

		li{
			display: block;

			&:first-child{
				padding-left: 5%;
			}

			&+li{
				margin-left: 0;
				margin-top: 6vw;
			}
		}
	}

	.p-box{
		padding: 4vw;
	}

	.p-ems{
		width: 100%;
	}

	.p-ems-deco-cover-overlay{
		width: 29vw;
		height: 28vw;
		top: 16.6%;
		right: 8%;

		&.is-rotate{
			top: 16.6%;
			right: 8%;
		}
	}

	.p-ems-deco-cover{
		width: 28vw;
		height: 15vw;
	}

	.p-ems-deco-check{
		right: 0;
	}

	.p-ems-deco-control{
		right: 5%;
	}

	.p-ems-deco-production{
		width: 5vw;
		top: 30.5%;
	}

	.p-ems-deco-storage{
		width: 4.5vw;
		top: 48%;
	}

	.p-ems-deco-use{
		width: 4.5vw;
		top: 48%;
	}

	.is-eng{
		.p-ems-deco-production{
			top: 28%;
		}

		.p-ems-deco-storage{
			top: 45%;
		}

		.p-ems-deco-use{
			width: 2.5vw;
			top: 45%;
			right: 29.5%;
		}
	}

	.m-btn {
		a{
			padding: 3vw 5vw;
		}
	}

	.m-serviceConsult-inner{
		margin-top: 12vw;
	}

	.m-serviceConsult-content{
		background-position: center 10vw;
	}

	.m-serviceConsult-box{
		padding: 2vw;
	}

	.m-serviceConsult-box-leftTop{
		top: 6vw;
	}

	.m-serviceConsult-box-rightTop{
		top: -10vw;
	}

	.m-serviceConsult-box-rightBottom{
		bottom: 3vw;
	}
	
	.p-serviceConsult-box-txt {
		@include spfz(20);
	}
}