@charset "UTF-8";

@import "../common/config";

/* ファーストビュー
---------------------------------------------------------------------------- */
.l-pagebody{
	background-image: url(../../images/jobs/img_mv_pc.jpg);
}
@media screen and (max-width: #{$breakpoint}px){
	.l-pagebody{
		background-image: url(../../images/jobs/img_mv_sp.jpg);
	}
}

/* 一覧ページ
---------------------------------------------------------------------------- */
.p-lead-txt{
	text-align: center;
	font-size: 2.0rem;
	line-height: 2;
	margin-bottom: 40px;
}

.p-staff-box{
	li{
		width: 306px;
		float: left;
		margin: 0 30px 60px 0;

		&:nth-of-type(3n){
			margin-right: 0;
		}
	}
	a{
		display: block;
		color: inherit;
		text-decoration: none;
	}
}
.p-staff-img{
	position: relative;

	img{
		width: 100%;
	}
}
@media screen and (min-width: #{$breakpoint+1}px){
	.p-staff-img{
		position: relative;
		overflow: hidden;
		height: 249px;

		img{
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			transition: .3s;
			transition-timing-function: ease-in-out;
		}
	}
	.p-relation-item .p-staff-img{
		height: 228px;
	}
	.p-staff-box a:hover,
	.p-relation-item a:hover{
		.p-staff-img img{
			transform: scale(1.08);
		}
	}
}
.p-staff-tag{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
	padding: 7px 15px;
	color: #fff;
	background-color: $beige;
	font-size: 1.8rem;
	text-align: center;
}
.p-staff-content{
	padding: 20px 20px 25px;
	border: 1px solid #ddccac;
	border-top: none;
	background-image: url(../../images/staff/bg_quote.png);
	background-repeat: no-repeat;
	background-position: 10px 10px;
	background-size: 36px;
}
.p-staff-lead{
	color: $beige;
	font-size: 1.8rem;
	line-height: 1.67;
	height: 100px;
	border-bottom: 1px solid $beige;
	margin-bottom: 15px;
	text-shadow:
		#fff 1px 1px 0, #fff -1px -1px 0,/*右下、左上*/
		#fff -1px 1px 0, #fff 1px -1px 0,/*右上、左下*/
		#fff 0px 1px 0, #fff  0-1px 0,/*右、左*/
		#fff -1px 0 0, #fff 1px 0 0;/*上、下*/
}
.p-staff-name{
	font-size: 2.4rem;

	span{
		font-size: 1.5rem;
		color: #777;
		display: inline-block;
		margin-left: 1em;
	}
}

@media screen and (max-width: #{$breakpoint}px){
	.p-lead-txt{
		text-align: left;
		@include spfz(34);
		line-height: 1.76;
		margin-bottom: 90/750*100vw;
	}

	.p-staff-box{
		li{
			width: 100%;
			float: none;
			margin: 0 0 50/750*100vw 0;

			&:nth-of-type(3n){
				margin: 0 0 50/750*100vw 0;
			}
		}
	}
	.p-staff-tag{
		padding: 15/750*100vw;
		font-size: 4vw;
	}
	.p-staff-content{
		padding: 45/750*100vw 4vw 35/750*100vw;
		background-position: 15/750*100vw 15/750*100vw;
		background-size: 8vw;
	}
	.p-staff-lead{
		@include spfz(32);
		height: auto;
		padding-bottom: 35/750*100vw;
		margin-bottom: 35/750*100vw;
	}
	.p-staff-name{
		@include spfz(40);

		span{
			@include spfz(26);
		}
	}
}




/* 詳細ページ
---------------------------------------------------------------------------- */
.p-h1-wrap{
	height: 410px;
	padding: 60px 0 0;
}
.p-h1-content{
	width: 560px;
	padding: 25px 30px;
	background-color: rgba(129, 80, 24, 0.5);
	color: #fff;
}
.p-h1{
	font-size: 3.3rem;
	font-weight: 500;
	line-height: 1.6;
	letter-spacing: 0.06em;
}
.p-name{
	text-align: right;
	font-size: 2.4rem;
	margin-top: 15px;

	span{
		display: inline-block;
		margin-left: 1em;
		font-size: 1.4rem;
	}
}
.p-name-sub{
	text-align: right;
	font-size: 1.6rem;
	margin-top: 5px;
}
@media screen and (min-width: #{$breakpoint+1}px){
	.p-single-pagebody-sp{
		background-image: none !important;
	}
}
@media screen and (max-width: #{$breakpoint}px){
	.p-single-pagebody{
		background-image: none !important;
		background-color: transparent;
		padding: 0;
	}
	.p-single-pagebody-sp{
		padding: 60px 0 16vw;
		background-position: center 60px;
		background-repeat: no-repeat;
		background-size: 100% auto;
		background-color: #eee;
	}

	.p-h1-wrap{
		height: 450/750*100vw;
		padding: 40/750*100vw 0 0;
	}
	.p-h1-content{
		width: 460/750*100vw;
		padding: 25/750*100vw 4vw;
	}
	.p-h1{
		@include spfz(36);
		letter-spacing: 0;

		br{
			display: none;
		}
	}
	.p-name{
		@include spfz(32);
		margin-top: 20/750*100vw;

		span{
			@include spfz(20);
		}
	}
	.p-name-sub{
		@include spfz(26);
		margin-top: 5/750*100vw;
	}
}

// CAREER SUMMARY
.p-career-summary{
	border-top: 1px solid $beige;
	border-bottom: 1px solid $beige;
	padding: 30px;
	position: relative;
}
.p-career-summary-mh{
	text-align: center;
	color: $beige;
	font-size: 3.0rem;
	font-weight: 500;
	letter-spacing: 0.12em;
	position: absolute;
	left: 0;
	right: 0;
	top: -0.9em;
	margin: auto;
	background-color: #fff;
	width: 14em;
}
.p-career-summary-txt{
	font-size: 1.6rem;
	letter-spacing: 0.12em;
	line-height: 2;
	@include noto(400);
}

// 社員インタビュー
.p-interview-mh{
	text-align: center;
	font-size: 3.6rem;
	font-weight: 500;
	margin-top: 45px;
	padding-top: 35px;
	background-image: url(../../images/staff/bg_interview.png);
	background-repeat: no-repeat;
	background-position: 40% top;
}

.p-interview-box{
	margin-top: 60px;

	&:nth-of-type(2n){
		.p-interview-sh,
		.p-interview-txt{
			float: left;
		}
		.p-interview-img{
			float: right;
		}
	}
	&:nth-of-type(2n-1){
		.p-interview-sh,
		.p-interview-txt{
			float: right;
		}
		.p-interview-img{
			float: left;
		}
	}
}
.p-interview-sh{
	width: 450px;
	color: $beige;
	font-size: 2.6rem;
	font-weight: 500;
	margin-bottom: 15px;
}
.p-interview-img{
	width: 490px;
}
.p-interview-txt{
	width: 450px;
	font-size: 1.5rem;
	@include noto(400);
	line-height: 1.87;
}
@media screen and (max-width: #{$breakpoint}px){
	// CAREER SUMMARY
	.p-career-summary{
		padding: 40/750*100vw 4vw;
		display: block;
	}
	.p-career-summary-mh{
		@include spfz(34);
		margin-bottom: 2vw;
	}
	.p-career-summary-txt{
		@include spfz(30);
		line-height: 1.4;
	}

	// 社員インタビュー
	.p-interview-mh{
		@include spfz(48);
		margin-top: 70/750*100vw;
		padding-top: 40/750*100vw;
		background-position: 10% top;
		background-size: 235/750*100vw
	}

	.p-interview-box{
		margin-top: 75/750*100vw;

		&:nth-of-type(2n-1),
		&:nth-of-type(2n){
			.p-interview-sh,
			.p-interview-txt,
			.p-interview-img{
				float: none;
			}
		}
	}
	.p-interview-sh{
		width: 100%;
		@include spfz(40);
		margin-bottom: 35/750*100vw;
	}
	.p-interview-img{
		width: 100%;
		margin-bottom: 35/750*100vw;
	}
	.p-interview-txt{
		width: 100%;
		@include spfz(28);
		line-height: 1.5;
	}
}

// MY FAVORITES
.p-favorites-box{
	margin-top: 80px;
	border: 1px solid $beige;
	padding: 40px;
	position: relative;
	display: table;
	width: 100%;
}
.p-favorites-mh{
	display: inline-block;
	padding: 0.3em 1.5em 0 1em;
	background-color: #fff;
	color: $beige;
	font-size: 2.4rem;
	background-image: url(../../images/staff/icn_favorite.png);
	background-repeat: no-repeat;
	background-position: right 15px top;
	position: absolute;
	left: 0;
	right: 0;
	top: -28px;
	margin: auto;
	width: 11.5em;
	text-align: center;
}
.p-favorites-img{
	width: 360px;
	display: table-cell;
	vertical-align: middle;
}
.p-favorites-content{
	display: table-cell;
	vertical-align: middle;
	padding-left: 30px;
}
.p-favorites-sh{
	font-size: 2.0rem;
	margin-bottom: 15px;
	padding-bottom: 15px;
}
.p-favorites-txt{
	font-size: 1.5rem;
	@include noto(400);
	line-height: 1.87;
}

// Message　～将来の仲間へ～
.p-message-box{
	position: relative;
	background-image: url(../../images/staff/bg_message_pc.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin-top: 110px;
	color: #fff;
}
.p-message-inner{
	padding: 65px 300px 65px 50px;
	background-repeat: no-repeat;
	background-position: right bottom;
}
.p-message-mh{
	background-color: $beige;
	font-size: 2.2rem;
	padding: 15px 30px;
	position: absolute;
	left: 30px;
	top: -30px;
	text-align: center;
}
.p-message-lead{
	font-size: 2.0rem;
	margin-bottom: 15px;
}
@media screen and (min-width: #{$breakpoint+1}px){
	.p-message-lead{
		background-image: none !important;
	}
}

// 他の社員紹介を見る
@import "../lib/slick";

.p-relation-mh{
	font-size: 2.2rem;
	padding-bottom: 15px;
	border-bottom: 1px solid $beige;
	margin: 100px 0 40px;
}
.p-relation-slide{
	padding: 0 10px 0 40px;
	margin-bottom: 80px;

	.slick-arrow{
		background-color: transparent;
		border: none;
		font-size: 0;
		position: absolute;
		top: 125px;
		width: 60px;
		height: 60px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		z-index: 10;
	}
	.slick-prev{
		background-image: url(../../images/staff/btn_prev.png);
		left: 0;
	}
	.slick-next{
		background-image: url(../../images/staff/btn_next.png);
		right: 0;
	}
	.slick-dots{
		text-align: center;
		margin-top: 15px;

		li{
			display: inline-block;
			margin: 0 5px;

			button{
				width: 40px;
				height: 5px;
				background-color: #dcdcdc;
				font-size: 0;
				border: none;
			}
			&.slick-active{
				button{
					background-color: $beige;
				}
			}
		}
	}
}
.p-relation-item{
	width: 280px !important;

	a{
		display: block;
		color: inherit;
		text-decoration: none;
	}

	.p-staff-content{
		background-image: none;
	}
}

@media screen and (max-width: #{$breakpoint}px){
	// MY FAVORITES
	.p-favorites-box{
		margin-top: 90/750*100vw;
		padding: 8vw 4vw 40/750*100vw;
		display: block;
	}
	.p-favorites-mh{
		@include spfz(36);
		background-position: right 6% top;
		background-size: 0.9em;
		top: -5.5%;
	}
	.p-favorites-img{
		width: 100%;
		display: block;
		margin-bottom: 20/750*100vw;
	}
	.p-favorites-content{
		display: block;
		padding-left: 0;
	}
	.p-favorites-sh{
		@include spfz(34);
		margin-bottom: 15/750*100vw;
		padding-bottom: 15/750*100vw;
	}
	.p-favorites-txt{
		@include spfz(28);
		line-height: 1.5;
	}

	// Message　～将来の仲間へ～
	.p-message-box{
		background-image: url(../../images/staff/bg_message_sp.png);
		background-size: cover;
		margin-top: 115/750*100vw;
	}
	.p-message-inner{
		padding: 8vw 4vw 45/750*100vw;
		background-image: none !important;
	}
	.p-message-mh{
		@include spfz(34);
		padding: 10/750*100vw 0;
		width: 525/630*100%;
		left: 0;
		right: 0;
		top: -35/750*100vw;
		margin: auto;
	}
	.p-message-lead{
		@include spfz(34);
		border-bottom: 1px solid #fff;
		margin-bottom: 4vw;
		padding-bottom: 4vw;
		padding-right: 140/750*100vw;
		background-repeat: no-repeat;
		background-position: right bottom;
		background-size: auto 22vw;
	}

	// 他の社員紹介を見る
	.p-relation-mh{
		@include spfz(36);
		padding-bottom: 15/750*100vw;
		margin: 90/750*100vw 0 40/750*100vw;
	}
	.p-relation-slide{
		padding: 0 45/750*100vw 0 90/750*100vw;
		margin-bottom: 95/750*100vw;

		.slick-list{
			overflow: visible;
		}

		.slick-arrow{
			top: 180/750*100vw;
			width: 70/750*100vw;
			height: 100/750*100vw;
			background-size: cover;
		}
		.slick-prev{
			left: -4vw;
		}
		.slick-next{
			right: -4vw;
		}
		.slick-dots{
			margin-top: 40/750*100vw;

			li{
				button{
					width: 8vw;
				}
			}
		}
	}
	.p-relation-item{
		width: 450/750*100vw !important;
	}
}