@charset "UTF-8";

@import "../common/config";

/* ファーストビュー
---------------------------------------------------------------------------- */
.l-pagebody{
	background-image: url(../../images/privacy/bg_mv_pc.jpg);
}
@media screen and (max-width: #{$breakpoint}px){
	.l-pagebody{
		background-image: url(../../images/privacy/bg_mv_sp.jpg);
	}
}

/* コンテンツ
---------------------------------------------------------------------------- */
.p-list {
	list-style-position: inside;
}

.p-list-number {
	counter-reset: cnt 0;

	li {
		padding-left: 2.5em;
		text-indent: -2.5em;
	}

	li:before {
		counter-increment: cnt 1;
		content: "（"counter(cnt) "）";
	}

}

.p-privacy-title {
	font-size: 2.4rem;
	line-height: 1.17;
	@include noto(500);
}

.p-list-title {
	font-size: 1.8rem;
	line-height: 1.56;
	@include noto(500);
}

.p-list-text {
	margin: 20px 0 40px;
	font-size: 1.6rem;
	line-height: 1.75;
	@include noto(400);
}

.p-group {
	font-size: 1.8rem;
	line-height: 1.89;
	@include noto(400);
	text-align: right;
}

@media screen and (max-width: #{$breakpoint}px) {
	.p-privacy-title {
		@include spfz(42);
		line-height: 1.43;
	}

	.p-list-text {
		margin: 35/750*100vw 0 60/750*100vw;
		@include spfz(30);
		line-height: 1.6;
	}

	.p-list-title {
		@include spfz(32);
		line-height: 1.41;
	}

	.p-group {
		@include spfz(34);
		line-height: 1.76;
	}
}